.TodoList .searchbar {
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  padding: 15px 0;
  transition: all 0.5s;
}

.TodoList .searchbar:focus {
  outline: none;
  border-bottom: 1px solid #aaa;
}
